# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
deps

# Specific file ignores
core
image
ip_bans.yaml
secrets.yaml

# Build-in blueprints ignores
blueprints/*/homeassistant

# ESPHome ignores
esphome/.*/

# Ignore add-on files
aircast.xml
airsonos.xml
notebooks

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep

# Temporary ignores
.old_config
