# Extension ignores
*.log
*.db
*.pyc

# Directory (contents) ignores
config/deps/*


# Specific file ignores
config/.config_entries.json
config/.tradfri_psk.conf
config/.uuid
config/core
config/secrets.yaml

# Specific keeps
!.gitkeep
